<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry
            location="/home/yujian/Project/fatdown/src/main/resources/config/mysql-connector-java-5.1.46.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://cdb-bksn3kkl.gz.tencentcdb.com:10050/health" userId="root"
                        password="bk_28135"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.bkit.fatdown.entity"
                            targetProject="/home/yujian/Project/fatdown/src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="com.bkit.fatdown.mappers"
                         targetProject="/home/yujian/Project/fatdown/src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口文件的位置 -->
        <javaClientGenerator targetPackage="com.bkit.fatdown.mappers"
                             targetProject="/home/yujian/Project/fatdown/src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!--积分模块 开始-->
        <!--        <table tableName="tb_score_info" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_score_record" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--积分模块 结束-->
        <!--饮食模块 开始-->
<!--                <table tableName="tb_element_basic" enableCountByExample="true" enableDeleteByExample="true"-->
<!--                       enableSelectByExample="true"-->
<!--                       enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_food_basic" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_food_element_relation" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_diet_picture" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_food_record" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
<!--                <table tableName="tb_diet_user_standard" enableCountByExample="true" enableDeleteByExample="true"-->
<!--                       enableSelectByExample="true"-->
<!--                       enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_food_recommend" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->

        <!--饮食评价报告-->
<!--        <table tableName="tb_diet_record" enableCountByExample="true" enableDeleteByExample="true"-->
<!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
<!--        <table tableName="tb_diet_daily_report" enableCountByExample="true" enableDeleteByExample="true"-->
<!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
<!--        <table tableName="tb_diet_meal_report" enableCountByExample="true" enableDeleteByExample="true"-->
<!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
<!--                <table tableName="tb_diet_weekly_report" enableCountByExample="true" enableDeleteByExample="true"-->
<!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--菜式推荐-->
        <table tableName="tb_food_recommend_record" enableCountByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" enableUpdateByExample="true"/>
        <table tableName="tb_food_recommend" enableCountByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" enableUpdateByExample="true"/>
        <table tableName="tb_food_recommend_type" enableCountByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" enableUpdateByExample="true"/>
        <!--零食部分-->
        <!--        <table tableName="tb_snack_basic" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--        enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_snack_record" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--        enableUpdateByExample="true"/>-->
        <!--饮食模块 结束-->

        <!--测试模块 开始-->
        <!--        <table tableName="tb_paper_basic" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_question_basic" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_test_record" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--测试模块 结束-->

        <!--分享模块 开始-->
        <!--<table tableName="tb_share_info" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--enableUpdateByExample="true"/>-->
        <!--<table tableName="tb_comment_info" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--enableUpdateByExample="true"/>-->
        <!--<table tableName="tb_like_info" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--enableUpdateByExample="true"/>-->
        <!--分享模块 结束-->

        <!--用户模块 开始-->
        <!--                <table tableName="tb_user_privacy_info" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--                       enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_user_basic_info" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_user_life_style" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_user_group" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_admin" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--<table tableName="tb_user_fat_rate_record" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--enableUpdateByExample="true"/>-->
        <!--<table tableName="tb_user_weight_record" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--enableUpdateByExample="true"/>-->
        <!--用户模块 结束-->

        <!--学习模块 开始-->
        <!--        <table tableName="tb_learn_record" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--        <table tableName="tb_learn_info" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--               enableSelectByExample="true"-->
        <!--               enableUpdateByExample="true"/>-->
        <!--学习模块 结束-->

        <!--任务模块 开始-->
        <!--                <table tableName="tb_task_record" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--                       enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--                <table tableName="tb_task_list" enableCountByExample="true" enableDeleteByExample="true"-->
        <!--                       enableSelectByExample="true" enableUpdateByExample="true"/>-->
        <!--任务模块 结束-->
    </context>
</generatorConfiguration>